{
    "Secret": {
        "JWTSecretKey": "secret-tokenpadp",
        "JWTExpirationInMinutes": 600,
        "AdminName": "Admin",
        "AdminInitials": "ADM",
        "AdminPassword": "secretpassword" ,
        "ConnectionString": "Server=localhost;Database=capstone;Trusted_Connection=True;Encrypt=False"
    }
}